[mcu]
serial:  /dev/serial/by-id/usb-Klipper_lpc1769_14E0FF0AA8943BAFE8B4685CC22000F5-if00

[include kiauh_macros.cfg]

#[include biqu-h2.cfg]
#[include titan_aero.cfg]
#[include stock-extruder.cfg]
[include afterburner.cfg]

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: P1.29
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800
hold_current: 0.500
#stealthchop_threshold: 250
stealthchop_threshold: 999999

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: P1.28
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800
hold_current: 0.500
#stealthchop_threshold: 250
stealthchop_threshold: 999999

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
#endstop_pin: P1.27
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 270

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.650
hold_current: 0.450
#stealthchop_threshold: 30
stealthchop_threshold: 999999

[stepper_z1]
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
microsteps: 16
rotation_distance: 8

[tmc2209 stepper_z1]
uart_pin: P1.1
run_current: 0.650
hold_current: 0.450
#stealthchop_threshold: 30
stealthchop_threshold: 999999

[extruder]
pid_Kp=17.002 
pid_Ki=0.717 
pid_Kd=100.738
pressure_advance = 0.055

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control = pid
#pid_kp = 64.649
#pid_ki = 0.843
#pid_kd = 1238.830
min_temp: 0
max_temp: 130

[bltouch]
#z_offset = 3.110

[fan]
pin: P2.3

[heater_fan my_nozzle_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[temperature_fan case_fan]
pin:  P1.0
control: watermark
sensor_pin: P0.23
sensor_type: EPCOS 100K B57560G104F
min_temp: 10
max_temp: 100
target_temp: 28.0
max_speed: 1.0
min_speed: 0.0

[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: cartesian
max_velocity: 1000
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[include macros.cfg]

[include display.cfg]

[include rpi.cfg]

#[input_shaper]

[include adxl345.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.140
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.145000, 0.047500, 0.225000
#*# 	-0.030000, 0.000000, 0.057500
#*# 	0.207500, 0.132500, 0.055000
#*# tension = 0.2
#*# min_x = 60.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 15.0
#*# x_count = 3
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 245.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.627
#*# pid_ki = 0.742
#*# pid_kd = 1408.069
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 44.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 25.2
